#left{
    float: left;
    width: 70%;
    margin: 0%;
}
#right{
    float: right;
    width:30%;
    margin: 0%;
}
#Daka-title{
    text-align: center;
    background-color: aquamarine;
    border-radius: 2px;
    margin: 1% 1% 1% 5%;
}
#time-count{
    margin-left:5%;
    margin-top: 4%;
    
}
.time-span{
    color: rgb(194, 96, 30)
}
#remind-last{
    margin-left:5%;
    margin-top: 0;
}
#evaFrom{
    display: inline-block;
    background-color: rgba(120, 204, 148, 0.856);
    text-align:center;
    border-radius: 3px;
    margin: 2%;
    color: rgb(18, 96, 199)
}
#myability-chart{
    margin: 1%
}
.friendli{
    text-align: center;
    background-color: darkseagreen;
    font-size: 120%;
    border-radius: 4px;
    padding: 2% 3% 2% 3%;
}
#inviteMsg{
    background-color: cornsilk;
    padding-left: 10%;
}
.button-{
    margin-left: 13%;
    background-color: blueviolet;
    color: azure;
}
 
#ballbox{
    
}
.day-box{
  
    width: 48%;
    margin: 2% 1% 2% 1%;
    display:inline-block;
    border-radius: 3px;
}
.day-time{
     color: rgb(39, 211, 182);
     font-size:60%
}
.day-num{
    color: darkgray;
    margin-left:10%;
}